body{
background-color: #f0f2f5;
}
.App {
  text-align: center;
  margin-left:30%;
  margin-top: 1%;
  padding:0px
}
input{
  width: 20rem;
  height: 39px;
  margin: 40px;
  padding: 5px;
  border-radius: 12px;
}
select{
  width:30%;
  height:40px;

}
.tablerepresentation{
  margin-left:10%;;
  margin-right: 7%;
  margin-top:0%
}
a{
  display: flex;
    color: white;
    text-decoration: none;
    padding: 23px;
}
